.create-event header {
    position: relative;
    left: 5%;
    top: 80px;
    width: 90%;
    border-bottom: 1px solid #cbdcd960;
}

.create-event header h1 {
    display: inline-block;
    font-size: 4em;
    padding-left: 2vw;
    color: #22afb4;
}

.create-event header p {
    display: inline-block;
    font-size: 1.2em;
    padding-left: 2vw;
}

.create-event-body {
    position: absolute;
    top:27%;
    left: 7%;
    max-width: 900px;
}

.create-event-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 670px;
}

.left {
    margin-left: 2vw;
    padding-right: 140px;
    border-right: 1px solid #cbdcd960;
}

.right {
    margin-top: 5px;
    margin-left: 120px;
    width: 20vw;
}

.right > div {
    position: relative;
}

.create-event-form label {
    font-size: 2em;
    padding: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
    color: #22cca4;
}

.create-event-form .name, .create-event-form .location {

    width: 300px;
    height: 30px;
    border: 1px solid #40514E;
    border-radius: 3px;
    padding: 1px 3px;
    font-size: 18px;
}

.create-event-form .name {
    margin-left: 80px;
}

.create-event-form .location {
    margin-left: 42px;
}

.create-event-form .date {
    width: 300px;
    height: 30px;
    font-size: 18px;
    border: 1px solid #40514E;
    border-radius: 3px;
    padding: 3px;
    margin-left: 100px;
}

.description-body {
    top: -10px;
    left: 700px;
    text-align: center;
}

.description {
    width: 500px;
    height: 300px;
    border: 1px solid #40514E;
    border-radius: 3px;
    resize: none;
    font-size: 18px;
    padding: 10px;
}

.genre-body, .duration-body, .age-body {
    position: absolute;
    top: 0px;
    left: 70%;
    width: 500px;    
}


.create-event-form button {
    font-size: 1.5em;
    padding: 7px;
    margin: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.create-event-form button:hover {
    cursor: pointer;
    color:#E4F9F5;
    background-color: #f1356d;
}

.event-image {
    position: relative;
    width: 800px;
    height: 400px;
}

.image-preview {
    position: absolute;
    padding: 10px;
}

.event-image label {
    margin-left: 80px;
}

.image-preview-empty {
    position: absolute;
    top: 100%;
    width: 400px;
    height: 300px;
    border: 1px solid #40514E;
}

.image-preview-image {
    position: absolute;
    top: 20%;
    width: 400px;
    height: 300px;
    border: 1px solid #40514E;
}

.image-preview-image:hover {
    cursor: pointer;
}

.image-upload {
    position: absolute;
    top: 140px;
    left: 28.5vw;
}

.image-upload input {
    display: none;
}

.image-upload-label {
    cursor: pointer;
}

.image-upload-label p{
    text-align: center;
    font-weight: 400;
    font-size: 27px;
    padding: 7px 12px;
    border: none;
    border-radius: 10px;
    color: #000000;
    background-color: buttonface ;
    height: 40px;
    width: 200px;
}

.image-upload-label p:hover {
    background-color: #f1356d;
    color: #E4F9F5;
}

.image-preview-body {
    width: 622px;
    height: 322px;
}

.image-preview-remove-body{
    width: 700px;
    height: 300px
}

.image-preview-remove {
    margin: 0px;
    display: inline-block;
    position: absolute;
    top: 8vh;
    left: 27vw;
    height: 55px;
    width: 222px;
}

.event-stock {
    margin: 0px;
    display: inline-block;
    position: absolute;
    top: -175px;
    left: 27vw;
    height: 55px;
    width: 262px;
}

.event-stock-btn {
    width: 222px;
    height: 55px;
}

.event-submit button {
    position: absolute;
    top: -170px;
    left: 27vw;
    height: 55px;
    width: 222px;
    color: #E4F9F5;
    background-color: #22cca4;
}

.event-submit button:hover {
    background-color: #5ee2a4;
}

.image-error {
    position: absolute;
    top: 70vh;
    left: 77vw;
    font-size: 1.5em;
    color: #f1356d;
}

/*-----------------STOCK IMAGES------------------*/

.image-popup-outer {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-popup-body {
    position: relative;
    padding: 32px;
    width: 71%;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.image-popup-body .close-btn {
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    z-index: 1;
}

.stock-image-body {
    height: 660px;
    width: 85%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.stock-image {
    width: 400px;
    height: 300px;
    padding: 15px 15px;
}

.stock-image:hover {
    box-shadow: 1px 3px #cbdcd9ac;
    border-radius: 10px;
}