
/*-----------------Headers------------------------*/

.explore-header {
    position: relative;
    left: 5%;
    top: 80px;
    width: 90%;
    border-bottom: 1px solid #cbdcd960;
}

.explore-header h1 {
    display: inline-block;
    font-size: 4em;
    color: #22afb4;
    padding-left: 2vw;
}

.explore-header p {
    display: inline-block;
    font-size: 1.2em;
    padding-left: 2vw;
}

.sort {
    display: flex;
    position: absolute;
    width: 30%;
    top: 45%;
    left:75%;
}

.sort p {
    margin: 10px;
    padding: 10px;
}


.explore-header button:hover{
    background-color: #f1356d;
    color: #E4F9F5;
}

/*-----------------Filters------------------------*/

.filters {
    position: absolute;
    top: 25%;
    height: 65%;
    width: 23%;
    border-radius: 10px;
    border-right: 1px solid #cbdcd98c;
}

.filters form{
    padding: 60px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.filters form label{
    padding: 20px;
    font-size: 1.3em;
    color: #22cca4;
}

.filters form input, .filters form select{
    padding: 5px;
    position: absolute;
    font-size: 1em;
    left: 37%;
    width: 45%;
    border: 1px solid #40514E;
    border-radius: 3px;
}

.filters form select {
    background: none;
    width: 47.5%;
}

.filters form input:focus, .filters form select:focus{
    box-shadow: 0 0 1px 1px #22afb4;
    outline: none;
}

.filters form button{
    font-size: 1.5em;
    padding: 7px;
    width: 30%;
    margin: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.filters form button:hover{
    color:#E4F9F5;
    background-color: #f1356d;
}

/*-----------------CARDS------------------------*/

.cards-body {
    position: absolute;
    top:27%;
    left: 27%;
    width: 71vw;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    overflow-y: auto;
}

.cards .event-preview{
    width: 30%;
    padding: 20px 10px;
    height: 55vh;
    margin: 3px;
}

.cards .event-preview:hover{
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 10px #cbdcd9ac;
}

.cards .event-preview h3{
    font-size: 2em;
    color: #22cca4;
}

.cards .event-preview h5{
    font-size: 1.1em;
    font-weight: 500;
    
}

.cards img {
    width: 400px;
    height: 300px;
    border: 1px solid #40514E;
    border-radius: 10px;
}

.cards .event-preview .genre-container h5, .cards .event-preview .genre-container div {
    display: inline-block;
}

.cards .event-preview .genre p {
    margin: 10px 5px;
    padding: 5px 10px;
    display: inline-block;
    background-color: #f1356d;
    color: #E4F9F5;
    border-radius: 20px;
    font-size: 1.2em;
}

.cards::-webkit-scrollbar {
    width: 10px;
}

.cards::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.cards::-webkit-scrollbar-thumb {
  background: #40514E;
  border-radius: 10px;
}

.cards-empty {
    position: relative;
    left: 45%;
    top: 12vh;
    width: 700px;
}

.cards-empty img {
    width: 500px;
    height: 450px;
}

.cards-empty h4 {
    position: absolute;
    left: -70px;
    font-size: 2em;
    color: #40514E;
}

.cards-empty p {
    position: absolute;
    font-size: 1.2em;
    top: 410px;
    left: 400px;
}

.cards-empty p a {
    text-decoration: none;
    color: #40514e34;
}

/*-----------------POPUP------------------------*/

.card_desc {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-body {
    position: relative;
    padding: 32px;
    width: 70%;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.popup-body .close-btn {
    border: none;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    z-index: 1;
}

.popup-event-left {
    width: 60%;
    padding-right: 13px;
    border-right: 1px solid #cbdcd960;
}

.popup-event-like {
    position: relative;
    width: 20%;
    height: 55px;
    background-color: #dac9c956;
    border-radius: 30px;
    left: 590px;
    top: 20px;
}

.popup-event-like img {
    border: none;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 5px;
    left: 20px;
}

.event-likes-no {
    position: absolute;
    font-weight: 600;
    font-size: 2em;
    right: 30px;
    top: 5px;
    padding: 0px 5px;
    color: #f1356d;
}

.popup-event-header {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #cbdcd960;
}

.popup-event-header h1 {
    font-size: 3em;
    color: #22afb4;
    padding: 1px 10px;
}

.popup-event-header p {
    font-style: italic;
    font-size: 1.2em;
    padding-left: 13px;
    padding-bottom: 10px;
}

.popup-event-header p span {
    color: #40514E;
    cursor: pointer;
}

.popup-event-details {
    padding-top: 20px;
    padding-left: 13px; 
    display: flex;
    height: 110px;
    flex-direction: column;
    flex-wrap: wrap;
}

.popup-event-details p {
    font-size: 1.2em;
    padding: 2px 0px;
}

.popup-event-desc {
    padding: 10px 13px;
    width: 93%;
    height: 320px;
    overflow-y: auto;
    word-wrap: break-word;
    background-color: #e3e9e850;
    border-radius: 10px;
}

.popup-event-desc p {
    padding: 10px;
    font-size: 1.4em;
    color: #40514E;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.popup-event-desc::-webkit-scrollbar {
    width: 6px;
}

.popup-event-desc::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.popup-event-desc::-webkit-scrollbar-thumb {
  background: #40514E;
  border-radius: 10px;
}

.popup-event-body {
    display: flex;
    justify-content: space-between;
}

.popup-event-right {
    padding: 20px 10px;
    height: 400px;
    width: 35%;
}

.comment-no {
    font-size: 1.5em;
}

.popup-event-right form {
    display: flex;
    justify-content: space-evenly;
}

.popup-event-right form input {
    margin-top: 10px;
    font-size: 1.3em;
    text-decoration: none;
    border: none;
    border-bottom: 1px solid #40514E;
}

.popup-event-right form input:focus {
    outline: none;
}

.popup-event-right form button {    
    font-size: 1.1em;
    border-radius: 10px;
    border: none;
    border-radius: 10px;
    padding: 7px;
}

.popup-event-right form button:hover {
    cursor: pointer;
    color:#E4F9F5;
    background-color: #f1356d;
}

.comment-main-body {
    margin-top: 20px;
    display: flex;
    height: 400px;
    overflow-y: auto;
    border-radius: 10px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.comment-main-body::-webkit-scrollbar {
    width: 6px;
}

.comment-main-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.comment-main-body::-webkit-scrollbar-thumb {
    background: #40514E;
    border-radius: 10px;
}

.comment-child-body {
    display: flex;
    word-wrap: break-word;
    margin-left: 10px;
    border-bottom: 1px solid #cbdcd960;
    width: 90%;
    padding-bottom: 5px;
}

.comment-child-body h4 {
    font-size: 1.2em;
    color: #22cca4;
    cursor: pointer;
}


.comment-details {
    padding: 7px 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    word-wrap: break-word;
    margin-top: 15px;
}

.comment-child-body p {
    font-size: 1.1em;
    margin-left: 3px;
    padding-bottom: 3px;
}

.comment-profile {
    position: relative;
    padding: 10px;
}

.comment-profile img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.comments-empty {
    font-size: 1.5em;
    padding: 20px 10px;
}

