.navbar {
    z-index: 1;
    display: flex;
    position: fixed;
    width: 97%;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #11999E;
    color: #E4F9F5;
}

.navbar h1 {
    font-size: 2.5em;
}

.navbar .links, .logout, .notiffs  {
    margin-left: auto;
}

.navbar a, .logout, .notiffs {
    font-weight: 500;
    font-size: 1.2em;
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color: #E4F9F5;
}

.navbar a:active {
    color: #f1356d;
    border-bottom: 2px solid #22afb4;
}

.navbar a:hover {
    color: #f1356d;
}

.logout, .notiffs {
    text-decoration: none;
    background: none;
    border-style: none;
}

.logout:hover, .notiffs:hover {
    cursor: pointer;
    color: #f1356d;
}

.navsearch {
    display: flex;
    position: absolute;
    top: 20%;
    left: 15%;
    padding: 2px 20px;
}

.navsearch input {
    padding: 5px 10px;
    border: 1px solid #40514E;
    border-radius: 3px;
    font-size: 1.2em;
    width: 600px;
}

.navsearch button {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 3px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    background-color: rgba(240, 248, 255, 0.629);
    cursor: pointer;
}

.navsearch input:focus{
    box-shadow: 0 0 3px 3px #22afb4;
    outline: none;
}

.navsearch button:hover{
    box-shadow: 0 0 2px 2px #22afb4;
}

/*------------------Notifications--------------------*/

.notif-popup-outer {
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}

.notif-popup-body {
    position: relative;
    left: 60%;
    top: 80px;
    padding: 32px;
    width: 20%;
    background-color: #FFFFFF;
    border-radius: 20px;
    max-width: 450px;

}

.notif-popup-body > div {
    margin-top: 30px;
    max-height: 400px;
    overflow-y: auto;
}

.notif-popup-body > div::-webkit-scrollbar {
    width: 6px;
}

.notif-popup-body > div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.notif-popup-body > div::-webkit-scrollbar-thumb {
  background: #40514E;
  border-radius: 10px;
}


.notif-popup-body .close-btn {
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    z-index: 1;
}

.notif {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #cbdcd960;
}

.notif img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.notif p {
    font-size: 1.2rem;
    color: #40514E;
    margin-left: 10px;
    margin-top: 15px;
}