.profile-outer {
    position: relative;
    top: 100px;
    width: 75%;
    margin: 0 auto;
}

.profile-user-top {
    display: flex;
}

.profile-user-image img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid #40514E;
}

.profile-user-details {
    margin-top: 30px;
    margin-left: 50px;
    padding-bottom: 70px;
}

.profile-user-details div{
    display: flex;
    margin: 20px 0px;
}

.profile-username {
    font-size: 4rem;
    color: #22afb4;
    margin-right: 40px;
}

.profile-follow, .profile-unfollow, .profile-message, .profile-update, .profile-update-cancel{
    font-size: 1.5em;
    padding: 7px;
    margin: 25px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
}

.profile-follow:hover, .profile-unfollow:hover, .profile-message:hover, .profile-update:hover, .profile-update-cancel:hover{
    cursor: pointer;
    color:#E4F9F5;
    background-color: #f1356d;
}

.profile-user-details-2 p{
    font-size: 1.7rem;
    padding: 0px 10px;
}

.profile-user-details-2 p span{
    margin-left: 10px;
    color: #f1356d;
}

.profile-user-top {
    padding-bottom: 50px;
    border-bottom: 1px solid #cbdcd960;
}

.profile-toggle {
    position: absolute;
    top: 310px;
    left: 37.2%;
}

.profile-toggle-special {
    position: relative;
    left: 95px
}

.profile-toggle button {
    font-size: 1.5em;
    padding: 7px;
    margin: 25px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 120px;
}

.profile-toggle button:hover {
    cursor: pointer;
    color:#E4F9F5;
    background-color: #f1356d;
}

.profile-image-upload {
    position: absolute;
}

.profile-image-upload {
    position: absolute;
    top: 320px;
    left: 55px;
}

.profile-image-upload input {
    display: none;
}

.profile-image-upload-label {
    cursor: pointer;
}

.profile-image-upload-label p{
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 6px;
    padding-top: 11px;
    border: none;
    border-radius: 10px;
    color: #000000;
    background-color: buttonface ;
    height: 40px;
    width: 150px;
}

.profile-image-upload-label p:hover {
    background-color: #f1356d;
    color: #E4F9F5;
}

.profile-user-posts {
    padding: 20px;
}

.event-delete {
    font-size: 1.5em;
    padding: 7px 12px;
    margin: 25px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #f1356d;
    color: #E4F9F5;
    position: absolute;
    top: 565px;
    height: 50px;
}

.profile-user-details-3 {
    width: 600px;
    word-wrap: break-word;
}

.profile-user-details-3 p{
    font-size: 1.3rem;
    margin-left: 23px;
}

.profile-image-upload button {
    font-size: 1.5em;
    padding: 7px;
    margin: 25px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: -270.4px;
    height: 43px;
    left: 806px;
    width: 148px;
}

.profile-image-upload button:hover{
    background-color: #f1356d;
    color: #E4F9F5;
}

.profile-bio {
    position: absolute;
    width: 600px;
    height: 70px;
    border: 1px solid #40514E;
    border-radius: 3px;
    resize: none;
    font-size: 18px;
    padding: 10px;
    top: -100px;
    left: 300px;
}
